<header class="top-bar">
    <div class="logo">
        <a routerLink="/">Grasslandia</a>
    </div>

    <div class="search-container">
        <input type="text" placeholder="Search Grasslandia..." class="search-input">
    </div>

    <nav class="nav-links">
        <!-- Show these links when user is not authenticated -->
        <ng-container *ngIf="!currentUser">
            <a routerLink="/signin" class="auth-link">Sign In</a>
            <a routerLink="/signup" class="auth-button">Sign Up</a>
        </ng-container>

        <!-- Show these links when user is authenticated -->
        <ng-container *ngIf="currentUser">
            <div class="user-menu">
                <button class="avatar-button" (click)="toggleMenu()">
                    <div class="avatar-placeholder">
                        {{ currentUser.email?.charAt(0)?.toUpperCase() }}
                    </div>
                </button>

                <div class="dropdown-menu" [ngClass]="{'show': isMenuOpen}">
                    <a routerLink="/profile" class="menu-item">Profile</a>
                    <a routerLink="/settings" class="menu-item">Settings</a>
                    <button class="menu-item sign-out" (click)="signOut()">Sign Out</button>
                </div>
            </div>
        </ng-container>
    </nav>
</header>