<!-- src/app/pages/home/home.component.html -->
<div class="home-container">

    <div class="content-layout">
        <div class="main-content">
            <!-- Show create post component only for logged-in users -->
            <app-create-post *ngIf="isLoggedIn$ | async" class="create-post-wrapper"
                (postCreated)="handlePostCreated($event)"></app-create-post>

            <!-- Feed -->
            <div class="feed-container">
                <app-feed [style]="feedStyle"></app-feed>
            </div>
        </div>
    </div>
</div>